<mat-toolbar color="primary">
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ day.year }}-{{ day.month | formatNum }}-{{ day.day | formatNum }}</span>
  <span class="flex"></span>
  <button *ngIf="!sending" mat-icon-button (click)="save()">
    <mat-icon>check</mat-icon>
  </button>
  <span *ngIf="sending" class="saving-bg">
    <img src="/assets/loading.svg" alt="Gordetzen...">
  </span>
</mat-toolbar>

<mat-card class="card-95">
  <h1 *ngIf="special" class="center">Ostirala!</h1>
  <div class="row">
    <span>Joan da</span>
    <span class="flex"></span>
    <span>Ordaindu du?</span>
  </div>
  <mat-radio-group [(ngModel)]="payed">
    <mat-list>
      <mat-list-item *ngFor="let person of peopleList">
        <mat-checkbox [(ngModel)]="person.didGo">{{ person.name | urldecode }}</mat-checkbox>
        <span class="flex"></span>
        <mat-radio-button [value]="person.id"></mat-radio-button>
      </mat-list-item>
    </mat-list>
  </mat-radio-group>
</mat-card>