@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
  box-sizing: border-box;
}

html, body, material-app, mat-sidenav-container{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.row{
  display: flex;
}

.flex{
  flex: 1 1 auto;
}

.flex-end{
  justify-content: flex-end;
}

.card-95{
  width: 95%;
  margin: 16px auto;
}

.col{
  display: inline-block;
  height: 100%;
}

.col-25{
  width: 25%;
}

.col-50{
  width: 49%;
}

.center{
  text-align: center;
}

.sort-field{
  color: #000;
  text-decoration: none;
  display: block;
}

mat-nav-list a{
  width: 100%;
  height: 100%;
}

mat-list-item a{
  outline: 0;
}